[submodule "modules/OpenCore"]
	path = modules/OpenCore
	url = https://github.com/Naikekongwo/OpenCore.git
[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
